/*
Theme Name: Fiveme
Theme URI: http://ihemant360.in/product
Author: Hemant Kumar Bhoi
Author URI: http://ihemant360.in
Description: Our  blog-focused, and designed for clarity. Fiveme is a clean and beautiful simple theme has designed by using Bootstrap 4
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: blog, editor-style, featured-images, microformats, post-formats, rtl-language-support, sticky-post, threaded-comments, translation-ready
Text Domain: fiveme

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.
*/

div.nav-menu ul{
	list-style-type: none;

}

div.nav-menu ul li a{
	color:#fff;
	text-decoration: none;
}
div.nav-menu ul li{
}


.search-field label{
	width:100%;
	margin-top:10px; 
}
/*	Make conent center of column  */
.make-center{
	display: table;
	margin:0 auto;
}
.site-content{
	margin-top: 50px;
}
.widget ul{
	list-style-type: none;
}
.widget ul li a{
	font-size: 20px;
	text-decoration: none;
	color:#ccc;
}
.widget ul li a:hover{
	color:#fff;
}


.widgettitle{
	display: none;
}

.post-pic img{
	width:100%;
	height:100%;
}
.entry-header{
	padding:30px;
}
.post-navigation .nav-previous{
	width: 500px;
    float: left;
    height: 100px;
}
.post-navigation .nav-previous a{
	font-size: 20px;
    text-decoration: none;
    background-color: #000;
    padding: 10px;
}

.post-navigation .nav-next{
	width: 500px;
    height: 100px;
    float: right;
}

.post-navigation .nav-next a{
	font-size: 20px;
    text-decoration: none;
    background-color: #000;
    padding: 10px;
}
nav.post-navigation h2.screen-reader-text{
	color:transparent;
}
div.singl-post{
	margin-top:100px;
	margin-bottom:100px;
}
div.singl-post img{
	width:100%;
	height: 100%;
}
.navbar-toggler{
	color:#fff;
}
h3 i.fa{
	margin-right:8px;
}
h3 i.fa:hover{
	color:#ffa500;
}
.tagcloud a{
	text-decoration:none;
	color:#000;
	padding:6px;
	font-size:30px;
	background-color: #ccc;
	border-radius: 10px;
}
.tagcloud a:hover{
	text-decoration: none;
	background-color: #fff;
}

/* Blog Title */

.blog-info h4 a{
	text-decoration: none;
	color:#fff;
}
.blog-info h4 a:hover{
	color:#ccc;
}